@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@700&display=swap");
:root {
  --red: #d01c28;
  --grey: #2e2e2e;
}
* {
  margin: 0;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

button {
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
}
nav {
  display: flex;
  justify-content: space-between;

  height: 72px;
  align-items: center;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}
.hero {
  display: flex;
  margin: 0 auto;
  align-items: center;
  height: cal(100vh-72px);
}
.hero h1 {
  font-weight: 800;
  font-size: 108px;
  line-height: 102px;
}
.hero p {
  font-weight: 600;
  color: var(--grey);
  max-width: 400px;
}
.hero-btn {
  display: flex;
  gap: 40px;
}
.hero-btn button {
  font-size: 24px;
}

.secondary-btn {
  background: transparent;
  color: var(--grey);
  border: 1px solid grey;
}
.shopping p {
  font-size: 14px;
  margin-bottom: 8px;
}
.brand-icons {
  display: flex;
  gap: 16px;
}
